
<div class="bg-cartier-gradient">

    <div class="container h-header">
        <div class="row h-100">
    
            <div class="col p-3">
                <div class="logo" [routerLink]="['/']"></div>
            </div>
    
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="d-flex flex-row align-items-center justify-content-center text-center typo-standard-black h-min">
                Nous nous retrouverons bientôt pour l'aventure !
            </div>
        </div>
    </div>
    
</div>
